<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>
            404
        </title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <br/>
            <b>{{errorMessage}}</b>
        </div>

        {{>footer}}
    </body>
</html>