<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>
            About
        </title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Maurice Johnson. It uses data from mapbox.com and darkweb.com</p>
            <img class="portrait" src="" />
        </div>
       
        {{>footer}}
    </body>
</html>