<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>
            Help
        </title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
       
        {{>footer}}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>